﻿body {
    padding-top: 50px;
    max-width: 95%;
    margin: 0 auto !important;
    border-radius: 25px;
    -webkit-box-shadow: -2px 3px 37px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 37px -6px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 37px -6px rgba(0,0,0,0.75);
}
html {
    background: #2F749C url("../Images/noise.png");
    border-top: none;
    
}
h4 {
    
}
footer
{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(226,226,226,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(226,226,226,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(226,226,226,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(226,226,226,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(226,226,226,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(226,226,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=0 );
    max-width: 100%;
    height: 65px;
}
.gradienteLogo{
    background: -webkit-gradient(linear, 49% 4%, 0% 100%, from(#1B4359), to(#48B1EB));
    background: -moz-linear-gradient(left, #48B1EB, #1B4359, #1B4359); /* F 3.6+ */
    background: -ms-linear-gradient(left, #48B1EB, #1B4359, #1B4359); /* IE 10+ */
    background: -o-linear-gradient(left, #48B1EB, #1B4359, #1B4359); /* Safari 5.1+, Chrome 10+ */
    background: linear-gradient(left, #48B1EB, #1B4359, #1B4359); /* ESTILO ESTANDAR */
}

.logo{
    background: url("../Images/FondoBase.png"), url(../Images/Movilcop-c3.png) no-repeat;
    background-position: 10px;
    position: relative;
    height: 80px;
    width: 100%;
}

.navbar{
    max-width: 95% !important;
    margin: 0 auto !important;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

