﻿@model MovilCOP_C3.Web.Models.Personas

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Personas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.N_NumeroDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_NumeroDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V_NombresApellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V_NombresApellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V_Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N_TipoDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N_TipoDocumento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Registro", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
