﻿@model IEnumerable<MovilCOP_C3.Web.Models.Personas>

@{
    ViewBag.Title = "Index";
}

<h2>Personas</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.N_NumeroDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_NombresApellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V_Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N_TipoDocumento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.N_NumeroDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_NombresApellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V_Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N_TipoDocumento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
